.mediaViewInfo {
    --web-view-name: Web 1920 – 2;
    --web-view-id: Web_1920__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__2 {
    position: absolute;
    width: 100vw;
    height: 75.052vw;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 2;
    --web-view-id: Web_1920__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_1 {
    fill: rgba(43,43,43,1);
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 100vw;
    height: 5vw;
    left: 0vw;
    top: 0vw;
}
#Rectangle_2 {
    fill: rgba(43,43,43,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 17.917vw;
    height: 20.521vw;
    left: 1.771vw;
    top: 7.76vw;
}
#Schermafbeelding_2023-02-05_om {
    fill: rgba(255,255,255,1);
}
.Schermafbeelding_2023-02-05_om {
    position: absolute;
    overflow: visible;
    width: 3.75vw;
    height: 3.75vw;
    left: 0.625vw;
    top: 0.625vw;
}
#Schermafbeelding_2023-02-05_om_l {
    fill: url(#Schermafbeelding_2023-02-05_om_l);
}
.Schermafbeelding_2023-02-05_om_l {
    position: absolute;
    overflow: visible;
    width: 3.438vw;
    height: 3.333vw;
    left: 0.781vw;
    top: 0.833vw;
}
#HOME {
    left: 5.469vw;
    top: 1.771vw;
    position: absolute;
    overflow: visible;
    width: 4.74vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.563vw;
    color: rgba(255,255,255,1);
}
#SHOP {
    left: 10.99vw;
    top: 1.771vw;
    position: absolute;
    overflow: visible;
    width: 4.479vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.563vw;
    color: rgba(255,255,255,1);
}
#BLOG {
    left: 16.25vw;
    top: 1.771vw;
    position: absolute;
    overflow: visible;
    width: 4.375vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.563vw;
    color: rgba(255,255,255,1);
}
#CONTACT {
    left: 21.406vw;
    top: 1.771vw;
    position: absolute;
    overflow: visible;
    width: 7.5vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.563vw;
    color: rgba(255,255,255,1);
}
#Rectangle_3 {
    fill: rgba(255,255,255,1);
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 4.688vw;
    height: 0.417vw;
    left: 5.469vw;
    top: 3.333vw;
}
#plant2 {
    opacity: 0.556;
    position: absolute;
    width: 17.917vw;
    height: 20.521vw;
    left: 1.667vw;
    top: 7.76vw;
    overflow: visible;
}
#Rectangle_4 {
    fill: rgba(43,43,43,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 0.521vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 13.594vw;
    height: 4.74vw;
    left: 43.229vw;
    top: 3.021vw;
}
#SHOP_t {
    left: 45.521vw;
    top: 3.542vw;
    position: absolute;
    overflow: visible;
    width: 9.063vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 3.177vw;
    color: rgba(255,255,255,1);
}
#Rectangle_5 {
    fill: rgba(43,43,43,1);
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 17.969vw;
    height: 20.521vw;
    left: 21.458vw;
    top: 7.76vw;
}
#Rectangle_6 {
    fill: rgba(43,43,43,1);
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 100vw;
    height: 18.958vw;
    left: 0vw;
    top: 56.25vw;
}
#Rectangle_7 {
    fill: rgba(43,43,43,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 0.521vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 13.594vw;
    height: 4.74vw;
    left: 43.229vw;
    top: 53.906vw;
}
#ABOUT {
    left: 44.896vw;
    top: 54.531vw;
    position: absolute;
    overflow: visible;
    width: 10.313vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 2.917vw;
    color: rgba(255,255,255,1);
}
#Follow_us_on_social_media {
    left: 11.354vw;
    top: 71.458vw;
    position: absolute;
    overflow: visible;
    width: 15.313vw;
    white-space: nowrap;
    text-align: left;
    font-family: Impact;
    font-style: normal;
    font-weight: normal;
    font-size: 1.458vw;
    color: rgba(255,255,255,1);
}
#Rectangle_8 {
    fill: rgba(255,0,0,1);
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 2.396vw;
    height: 2.396vw;
    left: 1.667vw;
    top: 71.094vw;
}
#Rectangle_9 {
    fill: rgba(0,177,255,1);
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 2.396vw;
    height: 2.396vw;
    left: 4.844vw;
    top: 71.094vw;
}
#Rectangle_10_ {
    fill: url(#Rectangle_10_);
}
.Rectangle_10_ {
    position: absolute;
    overflow: visible;
    width: 2.396vw;
    height: 2.396vw;
    left: 8.021vw;
    top: 71.094vw;
}
#Polygon_1 {
    fill: rgba(255,255,255,1);
}
.Polygon_1 {
    overflow: visible;
    position: absolute;
    width: 0.938vw;
    height: 0.781vw;
    transform: matrix(1,0,0,1,0,0) rotate(90deg);
    transform-origin: center;
    left: 47px;
    top: 1380.5px;
}
#Ellipse_1 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.104vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 1.094vw;
    height: 1.094vw;
    left: 8.698vw;
    top: 71.771vw;
}
#Ellipse_2 {
    fill: rgba(255,255,255,1);
}
.Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 1.146vw;
    height: 1.146vw;
    left: 5.469vw;
    top: 71.771vw;
}
#Polygon_2 {
    fill: rgba(255,255,255,1);
}
.Polygon_2 {
    overflow: visible;
    position: absolute;
    width: 0.521vw;
    height: 0.417vw;
    transform: matrix(1,0,0,1,0,0) rotate(45deg);
    transform-origin: center;
    left: 6.25vw;
    top: 71.667vw;
}
#Polygon_3 {
    fill: rgba(255,255,255,1);
}
.Polygon_3 {
    overflow: visible;
    position: absolute;
    width: 0.521vw;
    height: 0.417vw;
    transform: matrix(1,0,0,1,0,0) rotate(213deg);
    transform-origin: center;
    left: 5.365vw;
    top: 72.708vw;
}
#Polygon_4 {
    fill: rgba(255,255,255,1);
}
.Polygon_4 {
    overflow: visible;
    position: absolute;
    width: 0.521vw;
    height: 0.417vw;
    transform: matrix(1,0,0,1,0,0) rotate(251deg);
    transform-origin: center;
    left: 5.156vw;
    top: 72.5vw;
}
#Ellipse_3 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.26vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 1.042vw;
    height: 1.042vw;
    left: 2.188vw;
    top: 1.406vw;
}
#Ellipse_4 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.26vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 1.458vw;
    height: 1.458vw;
    left: 1.927vw;
    top: 1.302vw;
}
#Ellipse_6 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.26vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_6 {
    position: absolute;
    overflow: visible;
    width: 1.771vw;
    height: 1.771vw;
    left: 1.667vw;
    top: 1.354vw;
}
#Ellipse_5 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.26vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 2.292vw;
    height: 2.292vw;
    left: 1.354vw;
    top: 1.25vw;
}
#Polygon_5 {
    fill: rgba(255,255,255,1);
}
.Polygon_5 {
    overflow: visible;
    position: absolute;
    width: 0.833vw;
    height: 0.625vw;
    transform: matrix(1,0,0,1,0,0) rotate(25deg);
    transform-origin: center;
    left: 1.455vw;
    top: 3.177vw;
}
#SUPPORT {
    left: 1.667vw;
    top: 58.021vw;
    position: absolute;
    overflow: visible;
    width: 6.458vw;
    white-space: nowrap;
    text-align: left;
    font-family: Impact;
    font-style: normal;
    font-weight: normal;
    font-size: 1.771vw;
    color: rgba(255,255,255,1);
}
#General_Questions {
    left: 2.969vw;
    top: 60.885vw;
    position: absolute;
    overflow: visible;
    width: 10.885vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.302vw;
    color: rgba(255,255,255,1);
}
#plant3 {
    opacity: 0.56;
    position: absolute;
    width: 17.917vw;
    height: 20.521vw;
    left: 21.458vw;
    top: 7.76vw;
    overflow: visible;
}
#Shipping {
    left: 2.969vw;
    top: 62.813vw;
    position: absolute;
    overflow: visible;
    width: 5.104vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.302vw;
    color: rgba(255,255,255,1);
}
#Polygon_6 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.104vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_6 {
    overflow: visible;
    position: absolute;
    width: 0.885vw;
    height: 0.781vw;
    transform: matrix(1,0,0,1,0,0) rotate(90deg);
    transform-origin: center;
    left: 1.823vw;
    top: 61.042vw;
}
#Polygon_7 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.104vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_7 {
    overflow: visible;
    position: absolute;
    width: 0.885vw;
    height: 0.781vw;
    transform: matrix(1,0,0,1,0,0) rotate(90deg);
    transform-origin: center;
    left: 1.823vw;
    top: 62.969vw;
}
#Returns {
    left: 2.969vw;
    top: 64.74vw;
    position: absolute;
    overflow: visible;
    width: 4.635vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.302vw;
    color: rgba(255,255,255,1);
}
#Polygon_8 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.104vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_8 {
    overflow: visible;
    position: absolute;
    width: 0.885vw;
    height: 0.781vw;
    transform: matrix(1,0,0,1,0,0) rotate(90deg);
    transform-origin: center;
    left: 1.823vw;
    top: 64.896vw;
}
#Payments {
    left: 2.969vw;
    top: 66.667vw;
    position: absolute;
    overflow: visible;
    width: 5.833vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.302vw;
    color: rgba(255,255,255,1);
}
#Polygon_9 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.104vw;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_9 {
    overflow: visible;
    position: absolute;
    width: 0.885vw;
    height: 0.781vw;
    transform: matrix(1,0,0,1,0,0) rotate(90deg);
    transform-origin: center;
    left: 1.823vw;
    top: 66.823vw;
}
#Anubias_Nana {
    left: 21.927vw;
    top: 23.073vw;
    position: absolute;
    overflow: visible;
    width: 17.083vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2.552vw;
    color: rgba(255,255,255,1);
}
#Java_Fern {
    left: 4.688vw;
    top: 23.125vw;
    position: absolute;
    overflow: visible;
    width: 11.979vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2.552vw;
    color: rgba(255,255,255,1);
}
#Rectangle_11 {
    fill: rgba(43,43,43,1);
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 17.917vw;
    height: 20.521vw;
    left: 41.094vw;
    top: 7.76vw;
}
#plant4 {
    opacity: 0.556;
    position: absolute;
    width: 17.917vw;
    height: 20.521vw;
    left: 40.99vw;
    top: 7.76vw;
    overflow: visible;
}
#Java_Moss {
    left: 43.229vw;
    top: 23.125vw;
    position: absolute;
    overflow: visible;
    width: 12.969vw;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2.552vw;
    color: rgba(255,255,255,1);
}